<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinForm_Sample_TotalFilter.Properties.Settings.RequestServicesConnectionString"
            connectionString="Data Source=DESKTOP-DJ98FFV\PAVILYON;Initial Catalog=RequestServices;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>